<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fee Details</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
</head>
<body>
    <nav class="admin-nav">
        <ul>
            <li><a href="/log/admin/login/addstd">Add Student</a></li>
            <li><a href="/log/admin/login/updatestd">Update Student</a></li>
            <li><a href="/log/admin/login/addnoti">Add Notification</a></li>
            <li><a href="/log/admin/login/fee">View Fee Details</a></li>
            <li><a href="/log/admin/viewcomp">View Complaints</a></li>
            <li><a href="/log/admin/logout">Log Out</a></li>
            <li><a href="#" class="text-right">Hello, {{ name }}</a></li>
        </ul>
    </nav>
    <center>
{% if data %}
    <table class="table table-dark" style="background-color:silver;max-width:750px;">
        <thead><tr scope="col"><th>Transaction ID</th><th scope="col">Paid amount</th><th scope="col">Paid Time</th></tr></thead>
        <tbody>
    {% for x in data %}
        <tr><td>{{ x.2 }}</td><td>{{ x.1 }}</td><td>{{ x.0 }}</td></tr>
    {% endfor %}
        </tbody>
    </table>
  </center>
{% else %}
  <p style="padding:100px"><strong><h2> Didn't have any transcations<h2> </strong> </p>
{% endif %}
</body>
</html>
