<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Gateway</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'login/stylestd.css' %}" />
</head>
<body>
<div class="navbar">
  <a href="#">Hello, {{ name }}</a>
  <a href="/log/std/comp">Register Compliant</a>
  <a href="/log/std/payment">Payment</a>
  <a href="/log/std/logout">log out</a>
</div>
<center style="margin-top:100px">
  <form style="max-width:800px" action="/log/std/paymentdone" method="POST">
{% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="cardnumber" placeholder="Card Number" name="card" required="required">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="SecondName" placeholder="Amount" name="amt" required="required">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Go for payment</button>
  </form>
</center>
</body>
</html>
